<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission Internet pour l'API -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmileCareMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activites.PaiementsActivity"
            android:exported="false" />

        <activity
            android:name=".activites.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activites.VerificationCodeActivity"
            android:exported="false" />

        <activity
            android:name=".activites.NouveauMotDePasseActivity"
            android:exported="false" />

        <activity
            android:name=".activites.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activites.ServicesActivity"
            android:exported="false" />

        <activity
            android:name=".activites.AddRendezVous"
            android:exported="false" />

        <activity
            android:name=".activites.MainActivity"
            android:exported="false"/>

        <activity
            android:name=".activites.ModifierProfilActivity"
            android:exported="false" />

        <activity
            android:name=".activites.ProfilActivity"
            android:exported="false" />

        <activity android:name=".activites.InscriptionActivity" /> <!-- Activité inscription -->
        <activity android:name=".activites.testAPI" />
    </application>

</manifest>